<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>The Link Layers</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img id="logo-container" src="assets/logo1.jpg" href="#" class="brand-logo"></img>
      <ul class="right hide-on-med-and-down">
        <li><a href="contact.html">Contact</a></li>
      </ul>

      <img id="logo-container" src="assets/logo1.jpg" href="#" class="brand-logo"></img>
      <ul class="right hide-on-med-and-down">
        <li><a href="About.html">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/Thelinklayers/contact.html">Contact</a></li>
        <li><a href="/Thelinklayers/getstarted.html">Get Started</a></li>
        <li><a href="/Thelinklayers/about.html">About Us</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h3 class="header col s12 light">"Anything is possible when you combine network integration with technological
            innovation."
            <br>
          </h3>
        </div>
        <div class="row center">
          <a href="/Thelinklayers/getstarted.html" id="download-button"
            class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speed Up Productivity</h5>

            <p class="light">We do most of the heavy lifting for you to provide a customized network that caters to your
              business, helping increase productive and succes in the work place. Additionally, we offer top of the line
              software to help optimize your business.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Focused Experience</h5>

            <p class="light">By utilizing elements and principles of information        technology, we were able to create a
              network
              that incorporates components and software that provide more feedback to users. Additionally, a single
              underlying responsive network across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have detailed documentation as well as examples to help new users get started. We are
              also always open to feedback and can answer any questions a user may have regarding the process or how
              things work.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Explore The Link Layers unique portfolio of services, focused on optimizing
            network structures and systems, and developing smarter work environments.</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>OUR PARTNERS</h4>
          <div class="row">
            <img src="assets/tlls1.jpg">
            <img src="assets/tlls2.jpg">
            <img src="assets/tlls3.jpg">
            <img src="assets/tlls4.jpg">
            <img src="assets/tlls5.jpg">
            <img src="assets/tlls6.jpg">
          </div>

          <p class="left-align light"></p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">It has become appalling obvious that our technology has exceeded our humanity. - Albert Einstein</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Link Layers</h5>
          <p class="grey-text text-lighten-4">522 Nassau, 
            <br>
            DE 19969, Deleware
            <br>
            (302) 249-6461</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/Thelinklayers/contact.html">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="/Thelinklayers/about.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright The Link Layers - All Rights Reserved
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>